
<div class="fullwidth">

Keywords: 
<br></br>
<% @keywords.each do |k| %>
	<div class="button"><%= k.searchterm %> 
	<%= link_to 'X', keyword_path(k), method: :delete, data: {confirm: "Are you sure you want to delete this permanently?"},  :class => "closex" %></div>

<% end %>


<%= form_for @keyword, url: new_keyword_path do |f| %>
	New Keyword <%= f.text_field :searchterm %><br />
	<%= f.submit 'New Keyword', :class => "button disabled expand" %>
<% end %>

Authors: 
<br></br>
<% @authors.each do |k| %>
	<div class="button"><%= k.searchauthor %>
	<%= link_to 'x', author_path(k), method: :delete, data: {confirm: "Are you sure you want to delete this permanently?"}, :class => "closex" %></div>
<% end %>

<%= form_for @author, url: new_author_path do |f| %>
	New Author <%= f.text_field :searchauthor %><br />
	<%= f.submit 'New Author', :class => "button disabled expand" %>
<% end %>

Excluded Words: 
<br></br>
<% @filteredwords.each do |k| %>
	<div class="button"><%= k.negativesearch %>
	<%= link_to 'x', filteredword_path(k), method: :delete, data: {confirm: "Are you sure you want to delete this permanently?"}, :class => "closex" %></div>
<% end %>

<%= form_for @filteredword, url: new_filteredword_path do |f| %>
	Negative Search Terms <%= f.text_field :negativesearch %><br />
	<%= f.submit 'New Filter to Exclude', :class => "button disabled expand" %>
<% end %>

</div>

